/* ABOUT */

#about {
    background-color: #f9fcfe;
    box-shadow: -1px 6px 20px 0px #535353;

    img {
        height: 350px;
        border: 15px solid #fff;
        border-radius: 15px;
    }
}
