@mixin flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin background-styles {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}