/* NAVBAR */

#main-nav {
    background-color: #fff;

    .nav-item {
        margin: 0 25px;

        a {
            text-decoration: none;
            color: $additional-color;

            &:hover {
                color: #137e39;
            }
        }
    }
}
